[submodule "Vendor/sqlcipher"]
	path = Vendor/sqlcipher
	url = https://github.com/srkrambo/sqlcipher.git
[submodule "Vendor/SQLite.swift"]
	path = Vendor/SQLite.swift
	url = https://github.com/srkrambo/SQLite.swift.git
